<h1>Guardar Paquete</h1>
<h2 style="Color:red;">@ViewBag.MensajeError</h2> 
<form action='@Url.ActionLink("GuardarPaquete", "Home")' method="GET">
    <div class="DatosPaquete">
        <h3>Destinos:</h3>
        @for(int i=0; i<ViewBag.ListaDestinos.Count; i++){
            <p> @(i). @ViewBag.ListaDestinos[i]  </p>
        }
        Ingrese el Numero: <input type="number" min="0" max="9" name="Destino" required/>
    </div>
    <div class="DatosPaquete">
        <h3>Hoteles:</h3>
        @for(int i=0; i<ViewBag.ListaHoteles.Count; i++){
            <p> @(i). @ViewBag.ListaHoteles[i] </p>
        }
        Ingrese el Numero: <input type="number" min="0" max="4" name="Hotel" required/>
    </div>
    <div class="DatosPaquete">
        <h3>Aereolinea:</h3>
        @for(int i=0; i<ViewBag.ListaAereos.Count; i++){
            <p> @(i). <img src="/img/@ViewBag.ListaAereos[i]"> </p>
        }
        Ingrese el Numero: <input type="number" min="0" max="4" name="Aereo" required/>
    </div>
    <div class="DatosPaquete">
        <h3>Excursiones:</h3>
        @for(int i=0; i<ViewBag.ListaExcursiones.Count; i++){
            <p> @(i). <img src="/img/@ViewBag.ListaExcursiones[i]"> </p>
        }
        Ingrese el Numero: <input type="number" min="0" max="4" name="Excursion" required/>
    </div>
    <input type="submit" value="Crear Paquete">
</form>